.block {
  position: relative;
  margin-bottom: 15rem;
  padding: 0rem 10rem;

  @media (max-width: 500px) {
    padding: 0 1rem;
  }

  > h1 {
    font-weight: 400;
    font-size: calc(#{56 + px} + #{16} * ((100vw - 320px) / #{1800}));
    line-height: 129%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--mediumWhite);
    @media (max-width: 1200px) {
      font-size: 1.875rem;
    }
  }

  > div{
    display: flex;
    justify-content: center;
    > a {
      cursor: pointer;
      position: relative;
      text-align: center;
      color: var(--mediumWhite);
      margin-top: 2rem;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 129%;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      &:after{
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 0%;
        background-color: var(--orange);
        height: 1px;
      }

      &:hover{
        &:after{
          transition: all 0.3s ease-in-out;
          width: 100%;
        }
      }
    }
  }

  &.active {
    transition: all 1s ease-in-out;
    margin-top: -200px;
    @media (max-width: 850px) {
      margin-top: -440px;
    }

    @media (max-width: 400px) {
      margin-top: -500px;
    }
  }
}