@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /*--foreground-rgb: 0, 0, 0;*/
  /*--background-start-rgb: 214, 219, 220;*/
  /*--background-end-rgb: 255, 255, 255;*/
}

body{
  min-height: 100vh;
  width: 100%;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}

input {
  all: unset;
}

.white{
  color: white;
  fill: white;
}

.gradient{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.opacityVideo{
  background: rgba(255, 255, 255, 0.4);
}

.image{
  width: 100%;
  height: 100%;
  background-size: cover;
}
