@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*--foreground-rgb: 0, 0, 0;*/
  /*--background-start-rgb: 214, 219, 220;*/
  /*--background-end-rgb: 255, 255, 255;*/
}
body{
  font-family: Source Sans Pro;
  min-height: 100vh;
  width: 100%;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}

input {
  all: unset;
}

.white{
  color: white;
}
