.buttons {
  display: flex;
  align-items: center;
  border: 1px solid #FF6E00;
  border-radius: 52px;
  margin-left: 1.5rem;
  height: 2rem;
  cursor: pointer;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 48px;
    background-color: transparent;

    > h4 {
      margin-top: 0.1rem;
      margin-left: 0.1rem;
      font-weight: 500;
      font-size: 0.625rem;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--black);
    }

    &.active {
      width: 100%;
      background: var(--orange);
    }
  }

  > div:nth-child(1){
    border-top-left-radius: 52px;
    border-bottom-left-radius: 52px;
  }

  > div:nth-child(3){
    border-top-right-radius: 52px;
    border-bottom-right-radius: 52px;
  }
}