.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.5625rem 3.75rem 15.5rem 3.75rem;
  background-image: url("../../../../assets/images/MainPage.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (max-width: 950px) {
    background-image: url("../../../../assets/images/screenTableMain.png");
  }

  @media (max-width: 850px) {
    padding: 12rem 3rem 30rem 3rem;
  }

  @media (max-width: 750px) {
    background-image: url("../../../../assets/images/mobileMainImg.png");
  }

  > h5 {
    font-family: Gilroy-Bold;
    font-size: 1.25rem;
    letter-spacing: 0.2em;
    color: var(--orange);
  }
}

.logo {
  margin-bottom: 1rem;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.title {
  margin-top: 2.875rem;
  margin-bottom: 2.5625rem;
  width: 100%;
  height: 100%;

  &.active {
    transition: all 1.2s ease-in-out;
    margin-top: -150px;
    opacity: 0;
  }
}

.mouse {
  position: relative;
  margin-top: 5.375rem;

  @media (max-width: 500px) {
    margin-top: 1rem;
  }

  &::after {
    content: '';
    top: 20%;
    left: 49%;
    position: absolute;
    width: 2px;
    height: 8px;
    animation: movement 1s infinite alternate ease-in-out;
    background-color: var(--mediumWhite);
  }

  transition: opacity 1s ease-in-out;

  &.active {
    opacity: 0;
  }
}

.premiumimg {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

@keyframes movement {
  0% {
    top: 20%;
  }
  100% {
    top: 50%;
  }
}

@keyframes go {
  0% {
    opacity: 0;
  }

  90% {
    margin-top: -150px;
    opacity: 0;
  }
  100% {
    margin-top: -150px;
    opacity: 0;
  }
}