
.section {
  position: relative;
  scroll-behavior: smooth;
  padding-top: 15rem;
  > h5 {
    margin-left:14%;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 143%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--orange);
  }

  >h3{
    text-align: center;
    font-weight: 400;
    $addSize: 56 - 16;
    $maxWidth: 1800 - 320;
    font-size: calc(#{56 + px} + #{16} * ((100vw - 320px) / #{1800}));
    margin-bottom: 4rem;
    line-height: 129%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--mediumWhite);
    @media (max-width: 560px) {
      font-size: 1.875rem;
    }
  }

  >h4{
    width: 252px;
    position: relative;
    margin-top: 2.5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 129%;
    margin-left: 12%;
    letter-spacing: 0.2em;
    color: var(--mediumWhite);
    text-transform: uppercase;
    @media (max-width: 450px) {
      margin-top: 4rem;
    }
    &:after{
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 0%;
      background-color: var(--orange);
      height: 1px;
    }

    &:hover{
      &:after{
        transition: all 0.3s ease-in-out;
        width: 100%;
      }
    }
  }
}